@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root{
  --red: #f06a6a;
  --dark-red: #C62828;
  --orange: #e3886d;
  --yellow-orange: #f1bd6c;
  --blue-green:#4ecbc4;
  --aqua-blue:#9ee7e3;
  --blue:#4573d2;
  --indigo:#8d84e8;
  --purple:#b36bd4;
  --deep-purple: #563d7c;
  --magenta: #f9aaef;
  --yellow-green: #aecf55;
  --yellow: #f5ce29;
  --light-grey: #374151;
  --green:#42b883;
}

body{
  padding:0;
  background-color: #1f2937;
  font-family:'Roboto Mono', monospace;
  color: white;
  font-size:24px;
  margin-bottom:50px;
}
.container{
  letter-spacing: 0.1em;;
}
hr{
  border-top: 5px solid;
  border-radius: 5px;
}
.row{
  margin:5px;
}
ul{
  margin-bottom:0;
}